{% extends 'template.twig' %}

{% block content %}
<div class="page-header">
    <h3>Stox - Sistema de Estoque</h3>
</div>

<p>
    O objetivo deste sistema é cadastrar produtos, exibi-los em 
    uma tabela e podermos realizar um relatório de produtos
</p>
{% endblock %}