        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-left">© {{"now"|date("Y")}}
                    <a href="http://www.treinaweb.com.br" target="_blank" >TreinaWeb Cursos</a>
                </p>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{app.url_public}}/js/bootstrap.min.js"></script>
        </body>
</html>